@model IEnumerable<BeenThereUser>
@{
    Layout = "_Layout_admin";
}
@section Scripts{
    <script>$(document).ready(function () {
            $('#myTable').DataTable();
        });</script>
}


<table id="myTable" class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>UserName</td>
            <td>Email</td>
            <td style="width: 150px;"></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>

                    <td>
                        <a href="/admin/useredit/@user.Id" class="btn btn-primary btn-sm mr-2">Edit</a>
                        <a class="btn btn-sm btn-danger" href="/admin/userdelete/@user.Id">Delete</a>

                    </td>
                </tr>
            }
        }
        else
        {
            <div class="alert alert-warning">
                <h3>No Locations</h3>
            </div>
        }

    </tbody>
</table>
<a class="btn btn-sm btn-primary" href="/admin/usercreate">Create New User</a>






@*<table class="table">
        <thead>
            <tr>
                <th scope="col">User Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">UserName</th>
                <th scope="col">Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>
                <td>@user.Id</td>
                <th scope="row">@user.FirstName</th>
                <th scope="row">@user.LastName</th>
                <th scope="row">@user.UserName</th>
                <th scope="row">@user.Email</th>
                <td>
                    <a class="btn btn-sm btn-success" href="/admin/useredit/@user.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" href="/admin/userdelete/@user.Id">Delete</a>
                </td>
            </tr>
            }

        </tbody>
    </table>
*@