@model Experience

<div class="col-md-6 col-lg-4 ftco-animate">
    <div class="project" style="height:500px; width:300px">
        <div class="img" style="height:250px;">
            <img src="~/img/@Model.ImageUrl" class="img-fluid" alt="Colorlib Template">
        </div>
        <div class="text">
            <h4>
                @if (@Model.Location != null)
                {
                    <a class="btn btn-sm btn-secondary" href="/social/locationsummary/@Model.Location.LocationId">@Model.Location.Name</a>
                }
            </h4>
            <h3><a href="project.html">@Model.Name</a></h3>

            <div class="align-bottom">
                @foreach (var category in Model.ExperienceCategoryJunctions.Select(e => e.Category))
                {
                    <a class="btn btn-sm btn-dark" style="display:inline" href="/social/categorysummary/@category.Url">@category.Name</a>
                }
            </div>

            <div class="star d-flex clearfix align-bottom">
                <a asp-controller="social" asp-action="experiencedetails" asp-route-id="@Model.ExperienceId" class="btn btn-sm btn-info">View</a>
                @if (@User.Identity.Name == Model.Author || User.IsInRole("Admin"))
                {
                    <a href="/social/experienceedit/@Model.ExperienceId" class="btn btn-sm btn-warning">Edit</a>
                }
                <div class="mr-auto float-left">
                    @Model.Author
                </div>
            </div>
        </div>
        <a href="~/img/@Model.ImageUrl" class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
        </a>
    </div>
</div>